<% content_for(:title, "Messages | TextAway") %>


<h2>Messages</h2>

<% if @messages != nil %>
  <ul id="message_list">
    <%= render @messages %>
  </ul>
<% end %>

<br>
<br>
<br>

<div class="btn-group">
  <%= link_to "New Message", new_message_path, class: "btn btn-info", type: "button", id: "new_btn", remote: true %>
</div>
